<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
    <servlet>
        <description>Web Service CrossRefServiceSplitOrderSOAPPort</description>
        <display-name>Web Service CrossRefServiceSplitOrderSOAPPort</display-name>
        <servlet-name>CrossRefServiceSplitOrderSOAPPort</servlet-name>
        <servlet-class>com.reuters.gcap.eai.cpfg.ef.CrossRefServicePortTypeImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrossRefServiceSplitOrderSOAPPort</servlet-name>
        <url-pattern>CrossRefServiceSplitOrderSOAPPort</url-pattern>
    </servlet-mapping>
</web-app>
