
P {
  color: #2222AA;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 10pt;
}

H3 {
  color: #0000AA;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 12pt;
  font-weight: bold;
  line-height: 1.2;
}

bold {
  color: #0000AA;
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 10pt;
}

a:link {  	
  text-decoration: none;
}

a:active { 	
  text-decoration: none;
}

a:visited {	
  text-decoration: none;
}

a:hover { 	
  text-decoration: underline;
}

a.top{
  font-family		: Verdana, Arial, Helvetica, "Sans Serif";
  color			: #666699;
  text-decoration	: none;
  font-weight		: bold;
  font-size             : 10pt;
}

a.top:link{
}

a.top:hover{
  text-decoration       : underline;
  color			: #FF6600;
}

a.top:visited{
}

.topactive{
  font-family		: Verdana, Arial, Helvetica, "Sans Serif";
  color                 : #0000AA;
  text-decoration	: none;
  font-weight		: bold;
  font-size: 10pt;
}

a.topactive{
  font-family		: Verdana, Arial, Helvetica, "Sans Serif";
  color                 : #0000AA;
  text-decoration	: none;
  font-weight		: bold;
  font-size             : 10pt;
}

a.topactive:link{
}

a.topactive:visited{
}

a.topactive:hover{
  text-decoration	: none;
}

a.left{
  font-family		: Verdana, Arial, Helvetica, "Sans Serif";
  font-size		: 9pt;
  color			: #666699;
  text-decoration	: none;
  font-size             : 10pt;
}

a.left:link{
}

a.left:visited{
}

a.left:hover{
  text-decoration       : underline;
  color			: #FF6600;
}

.leftactive{
  font-family		: Verdana, Arial, Helvetica, "Sans Serif";
  font-size		: 9pt;
  color                 : #0000AA;
  text-decoration	: none;
  font-weight		: bold;
  font-size             : 10pt;
}

a.leftactive{
  font-family		: Verdana, Arial, Helvetica, "Sans Serif";
  font-size		: 9pt;
  color                 : #0000AA;
  text-decoration	: none;
  font-weight		: bold;
  font-size             : 10pt;
}

a.leftactive:link{
}

a.leftactive:visited{
}

a.leftactive:hover{
  text-decoration	: none;
}

.bddn {   	
  padding-left: 7px;
}

.bd {    	
  border-bottom: solid 1px #9999FF;       
  padding-left: 7px;
}

.ct {    	
  border-bottom: solid 1px #0066FF;
}

.st {    	
  border-bottom: solid 1px #000066;        
  padding-left: 7px;
}

.sidebarspacing {
  padding: 4px;
  width: 164px;
  padding-left: 19px;
}

.level1padding {
  padding: 4px;
  width: 164px;
}

.level1indent{
  padding-left: 16px;
}

.level2padding {
  padding: 4px;
  width: 164px;
}

.level2indent {
  padding-left: 25px;
}

.pageheading {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 13pt;
  color: white;
  background-color: #9999DD;
  text-decoration: none;
  font-weight: bold;
}

.pageheading:hover {
  color: white;
  background-color: #2222EE;
  text-decoration: none;
}
.smallpageheading {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 8pt;
  color: white;
  background-color: #9999DD;
  text-decoration: none;
  font-weight: bold;
}
.tabpageheading {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 10pt;
  color: white;
  background-color: #9999DD;
  text-decoration: none;
  font-weight: bold;
}
.subheading {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 12pt;
  color: #2222EE;
  text-decoration: none;
  font-weight: bold;
}

.bodytext {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 10pt;
  color: #2222AA;
  text-decoration: none;
}

.errorMessage {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 12pt;
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}


.bodytextbold {
  font-family: Arial, Helvetica, "Sans Serif";
  font-size: 8pt;
  color: #2222AA;
  text-decoration: none;
    font-weight: bold;
border-left : 1px solid White;
	border-top : 1px solid White;
}

.textvalue {
  font-family: Verdana, Arial, Helvetica, "Sans Serif";
  font-size: 7pt;
  color: #666699;
  text-decoration: none;
}

.bsize	{
  width: 134;
  height: 25;
  font-size : smaller;
  text-align : center;
  font-family : Arial, Helvetica, sans-serif;
}		

.bsize2	{	
  width:	90;
  height:	25;
  font-size : smaller;
  text-align : center;
  font-family : Arial, Helvetica, sans-serif;
}	

.bsize3	{
  width:70;
  height: 25;
  font-size : smaller;
  text-align : center;
  font-family : Arial, Helvetica, sans-serif;
}	

.bsize4	{	
  width: 120;	
  height: 25;
  font-size: smaller;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}	

.bstate1 {
  width: 170;
  height : 25;
  font-size : smaller;
  text-align : center;
  font-family : Arial, Helvetica, sans-serif;
}

.bstate2 {
  width: 30;
  height : 25;
  font-size : smaller;
  text-align : center;
  font-family : Arial, Helvetica, sans-serif;
}

.label{
  font-family: Arial, Helvetica, "Sans Serif";
  font-size:	11pt;
  color:	#000099;
}
.labeldisabled{
  font-family: Arial, Helvetica, "Sans Serif";
  font-size:	11pt;
  color:	#C0C0C0;
}

.label1{
  font-family:	Arial, Helvetica, "Sans Serif";
  font-size:	10pt;
  color:	#000099;
}

.headlbl{
  font-family: 'Verdana','MS Sans Serif',' Arial',' Heletica', 'sans-serif';
  font-size:7.5pt;
  color: #ffffff;
}

.tbldata{
  font-family: 'Verdana','MS Sans Serif',' Arial',' Heletica', 'sans-serif';
  font-size:7.5pt;
  color: #333333;
}
.redtbldata{
  font-family: 'Verdana','MS Sans Serif',' Arial',' Heletica', 'sans-serif';
  font-size:7.5pt;
  font-weight: bold;
  color: #FF6600;
}

.divider { 
  font-family:	'Verdana','MS Sans Serif',' Arial',' Heletica', 'sans-serif';
  font-size:	10pt;
  color:	#99ccff;
}

.swidth {
  width: 217;
}

.swidth1 {
  width: 120;
}

.swidth2 {
  width: 182;
}

.footer {
  font-family: Arial, Helvetica, Sans Serif;
  font-size: 8pt;
  color: blue;
}

.footer:link {
}

.footer:visited {
}

.footer:hover {
  text-decoration       : underline;
}

.tableHeader{
	font-family : Arial, Helvetica, sans-serif;
	font-size : large;
	color: White;
	background : #999999;
	padding : 2px 2px 2px 2px;
	border-left : 1px solid White;
	border-top : 1px solid White;
        position:relative;
      border-left : 1px solid White;
}

.tableRowGrey{
	background : #CCCCCC;
	padding : 5px 5px 5px 5px;
	font: Arial, Helvetica, sans-serif;
	color: #000066;
	border-left : 1px solid White;
	border-top : 1px solid White;
}
.sidebutton {
 border: 1px solid #333;
 font-family: verdana, arial, sans-serif;
 font-size:8pt;
 background: #9999DD; 
 color: #FFFFFF;
 padding: 0px 1px 1px 0px;
}
.text {
 border: 1px solid #9999DD;
 font-family: verdana, arial, sans-serif;
 font-size:8pt;
 background: #FFFFFF; 
 color: #000000;
 margin: 3px 3px 3px 3px;
 padding: 0px 0px 0px 0px;
}
.menulbl{
  font-family: 'Verdana','MS Sans Serif',' Arial',' Heletica', 'sans-serif';
  font-size:7.5pt;
  color: #000000;
}
.selectedTD{
	font-family: 'Verdana','MS Sans Serif',' Arial',' Heletica', 'sans-serif';
	font-size:8pt;
    color: #000000;
	background:#9999DD;
}
.notSelectedTD{
	font-family: 'Verdana','MS Sans Serif',' Arial',' Heletica', 'sans-serif';
	font-size:8pt;
    color: #000000;
	background:#FF6600;
}
.toolTip {
	font-family : Arial, Helvetica, sans-serif;
	position: absolute; posTop: 0; posLeft: 0;
	border-width:1; border-style: solid;
	background-color:#CCCCFF; color:#000000;
	width:165; font-size:8pt
}

.litebluetableborder{
border-bottom:1px solid #b4c8e1;
border-left:1px solid #b4c8e1;
border-right:1px solid #b4c8e1;
background-color:#dfe8f4;
}

.tableborderNORow{
border-bottom:1px solid #b4c8e1;
border-left:1px solid #b4c8e1;
border-right:1px solid #b4c8e1;
background-color:#CCCCCC;
}
.reportView{
overflow:auto;
width:100%;
}